<h2><% print(helper.title) %></h2>
<br />

<form class="form-horizontal">
	<div class="form-group">
		<label for="datetime" class="col-sm-2 control-label">Data/Hora</label>
		<div class="col-md-9">
			<input class="form-control" type="date" id="datetime" name="datetime"
				value="<% print(helper.model.get('datetime')) %>"> <span
				class="help-block text-muted">Required, Date
				(&#x27;yyyy-MM-dd&#x27;)</span>
		</div>
	</div>
	<div class="form-group">
		<label for="bankDescription" class="col-sm-2 control-label">Descrição
			do banco</label>
		<div class="col-md-9">
			<input class="form-control" type="text" id="bankDescription"
				name="bankDescription"
				value="<% print(helper.model.get('bankDescription')) %>"> <span
				class="help-block text-muted">Required</span>
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Descrição</label>
		<div class="col-md-9">
			<input class="form-control" type="text" id="description"
				name="description"
				value="<% print(helper.model.get('description')) %>"> <span
				class="help-block text-muted">Required</span>
		</div>
	</div>
	<div class="form-group">
		<label for="value" class="col-sm-2 control-label">Valor</label>
		<div class="col-md-9">
			<input class="form-control" type="text" id="value" name="value"
				value="<% print(Template.getEditValueFrom(helper.model.get('value')))%>">
			<span class="help-block text-muted">Required</span>
		</div>
	</div>
	<div class="form-group">
		<label for="category_id" class="col-sm-2 control-label">Categoria</label>
		<div class="col-md-9">
			<select class="form-control" id="category" name="category[id]">
				<option value="0"></option> <% _.each(helper.categories.models,
				function(category) { %>
				<option value="<% print(category.get('id')) %>"<%
					Template.printSelected(print, helper.model.get('category'),
					category) %>> <% print(category.get('name')) %></option> <% }) %>
			</select> <span class="help-block text-muted"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="period_id" class="col-sm-2 control-label">Período</label>
		<div class="col-md-9">
			<select class="form-control" id="period" name="period[id]">
				<option value="0"></option> <% _.each(helper.periods.models,
				function(period) { %>
				<option value="<% print(period.get('id')) %>"<%
					Template.printSelected(print, helper.model.get('period'), period)
					%>> <% print(period.get('value')) %></option> <% }) %>
			</select> <span class="help-block text-muted"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default"><%
				print(helper.buttonText) %></button>
		</div>
	</div>
</form>